* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}
main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

iframe {
  width: 100%;
  height: 80vh;
}

form > * {
  box-sizing: border-box;
}

label {
  display: inline-block;
  width: 19%;
  font-weight: bold;
}

input {
  width: 80%;
}

.error {
  color: red;
}

.step-3 .table {
  margin-top: 2em;
}

.step-3 table {
  border: 1px solid black;
  border-collapse: collapse;

  & tr:nth-child(2n + 1) {
    background-color: #ccc;
  }

  & tr:nth-child(1) {
    font-weight: bold;
    background-color: black;
    color: white;
  }

}
